<header>

  <nav class="header-nav">
    <ul>
      <li routerLink="" routerLinkActive="activeRouter" [routerLinkActiveOptions]="{exact: true}"><h3>ProjectX</h3></li>
      <li routerLink="/users" routerLinkActive="activeRouter"><h3>Users</h3></li>
      <li routerLink="/blog" routerLinkActive="activeRouter"><h3>Posts</h3></li>
      <li routerLink=""><h3>Messenger</h3></li>
    </ul>
  </nav>
 
  <nav class="header-nav">
    <ul *ngIf="!isAuthenticated">
      <li routerLink="/sign-in"><h3>Sign in</h3></li>
      <li routerLink="/sign-up"><h3>Sign up</h3></li>
    </ul>
    <ul *ngIf="isAuthenticated">
      <li (click)="logOut()"><h3>Log out</h3></li>
    </ul>
  </nav>

</header>

<main>
  <div class="center-block">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <h3>ProjectX</h3>
</footer>

