<div class="article">
    <div class="text-block">
        <h2>{{article.title}}</h2>
    </div>
    <div class="text-block">
        <h2>{{article.body}}</h2>
        <h4>Created at: {{article.createdAt | date:'long'}}</h4>
        <h4>Updated at: {{article.updatedAt | date:'long'}}</h4>
    </div>
    <div class="text-block">
        <h3>Author</h3>
        <h4>{{article.author.firstName}} {{article.author.lastName}}</h4>
        <h4>{{article.author.email}}</h4>
    </div>
    <div class="text-block">
        <button class="btn" (click)="delete()"><h3>Remove</h3></button>
    </div>
    <!-- <div>
        <br>
        <hr class="hr">
        <pre>
            {{ article | json }}
        </pre>
        <hr class="hr">
    </div> -->
</div>
