<div id="create-article-block">
    <div>
        <h2>Create Article</h2>
        <hr class="hr">
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div>
                <label for="title"><h2>Title</h2> </label> 
                <input name="title" formControlName="title">
                <div *ngIf="title?.invalid && title?.touched" class="error-lable">
                    Invalid title <pre>{{ title?.errors | json  }}</pre>
                </div>
            </div>
            <div>
                <div>
                    <label for="body"><h2>Body</h2> </label>
                </div>
                <div>
                    <textarea name="body" formControlName="body"></textarea>
                </div>
                <div *ngIf="body?.invalid && body?.touched" class="error-lable">
                    Invalid body  <pre>{{ body?.errors | json  }}</pre>
                </div>
            </div>
            <div>
                <button [disabled]="form.invalid" class="btn"><h2>Create</h2></button>
            </div>  
        </form>
    </div>
</div>
