<div>
    <ul class="list">
        <li *ngIf="canCreate" class="list-item">
            <h2 routerLink="/articles-create">+ create</h2>
        </li>
        <li class="list-item" *ngFor="let article of articles; let i = index">
            <h2 routerLink="/articles/{{article.id}}">{{i + 1}}. {{article.title}}</h2>
        </li>
        
        <li class="list-item">
            <h2 routerLink="/">SADASDASD</h2>
        </li>
        <li class="list-item">
            <h2 routerLink="/">SADASDASD</h2>
        </li><li class="list-item">
            <h2 routerLink="/">SADASDASD</h2>
        </li>
    </ul>
</div>


